.works_con {
  margin: 56px auto;
  max-width: 1240px;
}

.recent_works {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-bottom: 16px;
  border-bottom: 1.5px solid rgba(217, 217, 217, 0.5);
  position: relative;
}

.recent_works h2 {
  font-size: 30px;
  font-weight: 700;
  color: #292929;
}

.filter_p {
  border: 1px solid rgba(30, 30, 30, 0.5);
  display: flex;
  align-items: center;
  width: 213.87px;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px 14px;
  cursor: pointer;
}

.filter_p img {
  transition: transform 0.5s ease-in-out;
}

.home_rotate {
  transform: rotate(180deg);
}

.home_dropdown {
  position: absolute;
  text-align: start;
  top: 70%;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #000000;
  transition: transform 0.5s ease-in-out;
  transform: scaleY(1);
  transform-origin: top;
  width: 213.87px;
  padding-right: 26px;
  border-radius: 5px;
}

.home_dropdown p {
  margin: 0;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.home_dropdown p:hover {
  color: blue;
}

.home_dropdown-hidden {
  transform: scaleY(0);
}

.recent_works p {
  font-size: 18px;
  letter-spacing: 2%;
  font-weight: 600;
  color: #000000;
}

.filter_recent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.lower_project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.lil_pic {
  display: flex;
  align-items: center;
  gap: 3.01px;
}

.engage {
  display: flex;
  align-items: center;
  gap: 14.27px;
}

.likes {
  display: flex;
  align-items: center;
  gap: 3.01px;
}

.views {
  display: flex;
  align-items: center;
  gap: 1.5px;
}
